@import 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 167%;
    color: #aaa;
}


a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.container {
    max-width: 1316px;
    padding: 0 10px;
    margin: 0 auto;
}
