.benefits {
    padding-top: 83px;
    margin-bottom: 240px;
    .benefits__text {
        font-size: 48px;
        color: #1a1a1a;
    }
    .benefits__link {
    }
    .benefits__items {
    }
    .benefits-item {
    }
    .benefits-item__img {
    }
    .benefits-item__title {
    }
    .benefits-item__text {
    }
}
