.designs {
    margin-bottom: 195px;
    &__items {
        padding: 0 48px 32px 48px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 32px;
        .designs__item {
            &-img {
                margin-bottom: 9px;
            }
            &-text {
                font-size: 24px;
                line-height: 117%;
                color: #1a1a1a;
            }
        }
    }
}