.header {
    min-height: 100vh;
    margin-bottom: 208px;
    .header__inner {
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        border-bottom: 1px solid #e0e0e0;
        .menu {
            .menu-list {
                display: flex;
                align-items: center;
                gap: 100px;
            }
            .menu-list__item {
            }
        }
        
        .header__buttons {
            display: flex;
            align-items: center;
            gap: 47px;
            .header__link {
                display: flex;
                align-items: center;
                gap: 10px;
                
            }
            .header__btn {
            }
        }
        
    }
    
    .header__promo {
        &__img {
            padding-top: 49px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 82px;
        }
        
        .promo-text {
            display: flex;
            padding: 80px 85px 0 55px;
            justify-content: space-between;
            align-items: center;
            &__title {
                font-weight: 400;
                font-size: 48px;
                line-height: 121%;
                color: #1a1a1a;
                max-width: 355px;

            }

            &__info {
                max-width: 569px;


            }
        }
    }
}
